@import '~antd/dist/antd.css';
body {
    margin: 0;

    /*기본 폰트는 나눔스퀘어*/
    font-family: 'NanumSquare', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;

    /*/  글자 예쁘게 보여주기 */
    word-break: keep-all;
}

